html {
    height: 100%;
}

body {
    font-family: sans-serif;
    min-height: 100%;
    margin: 1vh 1vw;
    padding: 0px;
}

.outer {
    background-color: #ccc;
    margin: 2vh 2vw;
    padding: 1.5vh 1.5vw;
    border-radius: 8px;
}

#answer {
    height: 25vh;
    width: 100%;
    margin: 0px;
    padding: 0px;    
}

#alternatives {
    height: 40vh;
    width: 100%;
    margin: 0px;
    padding: 0px;
}

p {
    text-align: center;
    font-size: 7vmin;
    width: 100%;
    margin: 1vmin;
}


.tile {
    background: #333;
    color: #fff;
    display: block;
    float: left;
    margin: 0.5%;
    padding: 1%;
    border-radius: 8px;
    width: 30%;
    text-align: center;
    font-size: 5vmin;
}
