<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.fiskpinne.example"
        versionCode = "10" 
        version     = "0.0.1" >

    <!-- versionCode is optional and Android only -->

    <name>PhoneGap Test</name>

    <description>
        A phonegap test. 
    </description>

    <author>
        Markus 
    </author>
    <gap:platform name="android" />
</widget>